<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Mist</title>
    <link rel="stylesheet" href="http://localhost:3000/css/style.css">
</head>

<body>


<header class="header">
    <img class="imagenAbajo" src="http://localhost:3000/img/fotoBannerP.png">
    <img class="banner" src="http://localhost:3000/img/bannerP.png">
</header>

<section class="sectionMenu">

</section>



{{{body}}}

<footer>

    <section class="footer">
        <img class="imagenFooter" src="http://localhost:3000/img/footer-02.jpg">
    </section>

</footer>
</body>
</html>