
<section class="sectionMenu">
<nav class="menu">


    <ul class="menuList">

        <li class="menuCurrent"><a class="menuLink" href="/">HOME</a></li>
        <li class="menuItem"><a class="menuLink" href="/tiendaelectrica">TIENDA</a></li>
        <li class="menuItem "><a class="menuLink" href="/contacto">CONTÁCTO</a></li>

    </ul>

</nav>
</section>
<section class="tipoMotos">

    <article>
        <a href="/tiendaelectrica"><h2>Motos <br> Electricas</h2><p><img src="img/electrica.jpg" /></p></a>
    </article>

    <article>
        <a href="/tiendagasolina"><h2>Motos <br> Gasolina</h2><p><img src="img/gasolina.jpg"/></p></a>
    </article>
</section>