<section class="sectionMenu">
<nav class="menu">


    <ul class="menuList">

        <li class="menuItem"><a class="menuLink" href="/">HOME</a></li>
        <li class="menuCurrent"><a class="menuLink" href="/tiendaelectrica">TIENDA</a></li>
        <li class="menuItem "><a class="menuLink" href="/contacto">CONTÁCTO</a></li>

    </ul>

</nav>

</section>
<section class="sectionFiltro">
    <nav class="menu">

        <ul class="List">

            <li class="menuCurrent"><a class="Link" href="/tiendaelectrica">Motos Eléctricas</a></li>
            <li class="menuItem" ><a class="Link" href="/tiendaelectrica/sport">Sports y Street</a></li>
            <li class="menuItem"><a class="Link" href="/tiendaelectrica/scooter">Scooters</a></li>
            <li class="menuItem"><a class="Link" href="/tiendaelectrica/urbana">Urbanas</a></li>
            <li class="menuItem"><a class="Link" href="/tiendaelectrica/escala">Modelos a escala</a></li>

        </ul>

    </nav>
</section>
<section class="motosFotos">

 {{#each pollito}}
     <article>
         <ul>
             <li> <a href="#"><img src="{{img}}">
                 <p class="nombre">{{nombre}} &nbsp;&nbsp; {{precio}}</p> </a> </li>
         </ul>

     </article>
 {{/each}}


</section>